*{
font-family: 'Asap', sans-serif;

}

#index{
    min-height: 3000px;
}

body{
    nav{
        background-color:#10495C ;

        .collapse{
            .navbar-nav{
                .nav-item{
                    color: #B0C3C9;
                }

                .active{
                    color: #F2AD5F;
                    text-decoration: underline;
                }
                .signup{
                    color: #F2AD5F;
                }
            }
        }
    }
    header{
        // background-image: url('../img/bg.png');
        // background-repeat: no-repeat;
        min-height: 856px;
        // margin-top: -150px;
        .hero-section{
            h1{
                margin-top: -700px;
                font-size: 65px;
                font-style: normal;
                font-weight: 600;
                line-height: 80px;
                letter-spacing: 0em;
                text-align: center;
                color:#ffffff;
            }

            a{  
                margin-top: 30px;
                padding: 14px 40px;
                background-color: #F2AD5F;
                border-radius: 56px;
                border: none;;
            }

            .hero{
                margin-top: 100px;
            }

            .partner{
                margin-top: 50px;
            }
        }
    }
    .container{
        margin-top: 150px;
       .row{
           .gallery-text{
            //    margin-left: 100px !important;
            h3{
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
            color: #0F1D37;
            margin-bottom: 50px;
            }

            .detail{
                margin-bottom: 30px;
                img{
                    margin-right: 16px;
                }
            }
             
           }
       }
    }
    .feature{
        h3{
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
            color: #0F1D37;
            margin-bottom: 70px;
        }
        .card-group{
            .card{
                border-radius: 16px;
                min-height: 382px;
                width: 293px !important;
                margin-right: 10px;
            }
        }
    }
    .newsletter{
        max-width: 750px;
        width:auto;
        height: 270px;
       background-color: #10495C;
       border-radius: 20px;
        padding: 20px;
       color:#ffffff;
       h1{
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        
       }
       form{
           input{
               border-radius: 9px;
               background-color: #ffffff;
               max-width: 400px;
               min-width: 200px;
            //    width: auto;
               height: 45px;
               outline: none;
               border: none;
           }
       }
    }

    .login-section{
        .row{
            .col-lg-6{
                h3{
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: 80px;
letter-spacing: 0em;
text-align: left;
color: #10495C;

                }

                form{
                    margin-top: 70px;

                    .form-group{
                        input{
                            padding-top:26px ;
                            padding-bottom: 26px;
                            background-color: #E3E1E1;
                        }
                    }

                    .btn{
                        background-color: #F2AD5F;
                        border: none;
                        padding: 14px 66px;
                    }
                }
            }
            margin-bottom: 120px;
        }
    }
}